
.head{
    position: relative;
}
.img{
    width:100%;
    height: 500px;
    border: 1px solid white;
    
}
.icon{
    background-size: cover;
    white-space: nowrap;
    position: absolute;
    top: 0%;
    display: flex;
    align-items: center;
    gap:950px;
    color: antiquewhite;
      
}
.content{
    position:absolute;
    top:100px;
    left:200px;
    font-size: 20px;
    width:400px;

}
.i{
    display: flex;
    justify-content:end;
    gap: 20px;
    align-items: center;
    font-size: 15px;
}
 
.dl{
    border:1px solid black;
    border-radius: 50px;
    background-color:black;
    width:100px;
    color: azure;
    padding:5px;
    text-align: center;
}
.dev{
    border:1px solid black;
    padding: 1px;
    text-align: center;
    background-color: black;
    font-size: 20px;
    
}
#val{
    background-color: black;
    color:azure;
    padding:10px;
    border-radius: 50px;
    font-family: sans-serif;
}
.pic{
    width:100px;

}
.next{
    text-align: center;
    border:1px solid white;
    width:100%;
    height:250px;
    background-color: lavender;
}
.logo{
    border:1px solid lightgrey;
    width:300px;
    height: 70px;
    margin:50px;
    object-fit: cover;
    
    
}
.main{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.sty{
    border:1px solid white;
    text-align: center;
    width:200px;
    height:200px;
    margin-top: 20px;
}
.full{
    border:1px solid black;
    width:100%;
    height:600px;
    background-color:darkblue;
    text-align: center;
}
.what{
    
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.box{
    border:1px solid lightgray;
    width:300px;
    height:320px;
    border-radius: 10px;
    margin-top:20px ;
    background-color: azure;
}
.val1{
    border:1px solid lightgrey;
    width:200px;
    padding:5px;
    background-color: black;
    color: beige;
    font-family: sans-serif;
    font-size: 20px;
}
.meet{
    border:1px solid lightgrey;
    width:200px;
    height:200px;
    object-fit: cover;
    
}
.what1{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:blueviolet;
    
    
}
.full1{
    border: 1px solid lightgray;
    width:100%;
    height:400px;
    text-align: center;
    background-color: lightgray;
}
.cs{
    color:gray;
}
.final{
    text-align: center;
}
.last{
    border:1px solid lightgray;
    width:100%;
    height: 600px;
}
.btn{
    color:darkgray;
    padding:5px;
    border:1px solid lightgray;
    width:150px;
     
}


.container {
    background-color:plum;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:400px;
    margin-top:300px;
    margin-left: 500px;
}
.button{
    width:200px;
    padding:5px;
    
}


button:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 15px;
}



input {
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}
